
.toolbar-background{
  background-color: #2196F3;
}
.toolbar-title{
  color:white;
}
ion-fab.main{
  bottom:1em;
  right:1em;
  button{
    background-color: #222;
    font-size: 1.5em !important;
  }
}
.actions{
  text-align: right;
  margin-top: 20px;
}
